.createModal{
    width: 500px;
    height: 320px;
    padding: 2px;
    /*border: 1px solid black;*/
    background-color: white;
    position: absolute;
    top: 27%;
    left: 37%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 6px;
    /* border: 1px solid grey; */
    display: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

body{
    font-family: monospace;
}

.modal_title{
    font-size: 20px;
}

.cancel_icon{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 2px;
    /*border: 1px solid black;*/
    background-image: url("../../../public/icons8-cancel-50.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.createModal > input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid gray;
    box-shadow: 1px 1px 1px blueviolet;
    outline: none;
}

.inputs_Cont{
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
}

.inputName_cont{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputName_title{
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 1px solid red; */
}

.inputName{
    width: 60%;
    height: 50%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.inputName > input{
    width: 100%;
    height: 100%;
    outline: none;
}

.desc_title{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* border: 2px solid red; */
}

.desc_input_box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */
}

.desc_input_box > textarea{
    padding-left: 10px;
    border-radius: 10px;
    /* border: 1px solid black;     */
}

.userIdSelect_box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* border-bottom: 1px solid gray; */
    /* border: 1px solid black; */
}

.select_title{
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
}

.progress_box{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.create_btn{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 260px;
    left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}