

.bg{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(../public/aa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 40px;
}

.upperBar{
  width: 100%;
  height: 80px;
}

/* Container for Drop Down Menu and Logo */

.dropMenu--logo{
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: brown; */
}

.dropMenu{
  width: 40px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: white; */
}

.logo{
  width: 70%;
  height: 45px;
  background-image: url('../public/bitrixLogo.jpg');
  background-position: center;
  background-size:cover;
  background-color: yellow;
}

.decorLine{
  width: 90%;
  height: 4px;
  background-color: black;
}

.navigation_bar_box{
  width: 95%;
  height: 60px;
  /* border: 1px solid black; */
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-left: 45px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.nav_title_box{
  width: 10%;
  height: 100%;
  /* border: 1px solid black; */
  color: white;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createBtn_box{
  width: 10%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.general_box{
  width: 10%;
  height: 85%;
  border: 1px solid white;
  border-radius: 5px;
  background-color: lightgray;
  opacity: 10;
  color: white;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.search_box{
  width: 40%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid white;
  background-color: lightgray;
  display: flex;
}
.Deals_box{
  width: 200px;
  height: 90%;
  /* border: 1px solid black; */
  background-color: lightskyblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-top: 3.5px;
}
.settings_box{
  width: 7%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings{
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: lightgray;
  background-image: url('../public/icon.svg');
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.nav_bar2_box{
  width: 95%;
  height: 40px;
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-left: 45px;
  display: flex;
  gap: 30px;

}
.nav_bar2{
  width: 400px;
  height: 40px;
  /* border: 1px solid black; */
  opacity: 0.6;
  background-color: lightgray;
  border-radius: 15px;
}
.nav_bar3{
  width: 400px;
  height: 40px;
  /* border: 1px solid black; */
  opacity: 0.6;
  background-color: lightgray;
  border-radius: 15px;
}
.search{
  width: 100%;
  height: 95%;
  background: none;
  border: 1px solid white;
  margin-top: 3px;
  opacity: 0.7;
}
.main_cont{
  width: 95%;
  height: 800px;
  /* border: 1px solid black; */
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-left: 45px;
}

.commentBox{
  width: 500px;
  height: 280px;
  display: flex;
  position: absolute;
  top: 300px;
  right: 120px;
  background-color: skyblue;
}

.mainContainer{
  width: 100%;
  height: 100vh;
  background-color: #f45b69;
}

.login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
  -moz-transition: -moz-transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}
.login::before, .login::after {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}
.login::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  -webkit-animation: wawes 6s infinite linear;
  -moz-animation: wawes 6s infinite linear;
  animation: wawes 6s infinite linear;
}
.login::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  -webkit-animation: wawes 7s infinite;
  -moz-animation: wawes 7s infinite;
  animation: wawes 7s infinite;
}
.login > input {
  font-family: "Asap", sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}
.login > button {
  font-family: "Asap", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #f45b69;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  transition: background-color 300ms;
}
.login > button:hover {
  background-color: #f24353;
}

@-webkit-keyframes wawes {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes wawes {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes wawes {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.wrongDatas{
  width: 300px;
  height: 250px;
  background-color: #f24353;
}

/* Search --- */
